PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "company" ("id" varchar PRIMARY KEY NOT NULL, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime DEFAULT (datetime('now')), "deletedAt" datetime, "email" varchar, "name" varchar NOT NULL, "street" varchar, "city" varchar, "country" varchar, "cif" varchar, "phone" varchar, "deleted" boolean, "monthlySubscriptionStatus" varchar);
INSERT INTO company VALUES('8f77b1e6-0585-4ebf-90f6-5e5418e1b007','2024-10-24 00:30:43','2024-10-24 00:30:43',NULL,NULL,'company pruebas',NULL,NULL,NULL,NULL,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "user" ("id" varchar PRIMARY KEY NOT NULL, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime DEFAULT (datetime('now')), "deletedAt" datetime, "email" varchar, "password" varchar NOT NULL, "name" varchar NOT NULL, "surname" varchar, "phone" varchar, "confirmed" boolean, "deleted" boolean, "role" varchar, "company_id" varchar, CONSTRAINT "FK_9e70b5f9d7095018e86970c7874" FOREIGN KEY ("company_id") REFERENCES "company" ("id") ON DELETE NO ACTION ON UPDATE NO ACTION);

INSERT INTO user VALUES('12d1adc6-5f7a-4eec-b045-259fb85489e3','2024-10-24 00:30:43','2024-10-24 01:35:44',NULL,'user@email.com','826c68a86a5b5caf.a2480e4700cc62200dc2dfb69754a16e6a0c7af9135ad4eff0a0c511995c43fa','user user',NULL,NULL,1,NULL,NULL,'8f77b1e6-0585-4ebf-90f6-5e5418e1b007');
INSERT INTO user VALUES('05d100bf-656c-416e-96cd-ca57a8183942','2024-11-11 21:55:10','2024-11-11 21:55:10',NULL,'user2@email.com','11ace19b5689cfdc.4265c11412f7846ec6475f2880c3434b276d6403c23d9fe7ac56cf8185543de5','user user2',NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO user VALUES('f05b70f2-e416-436e-a4bd-a4e32af06f35','2024-11-11 22:14:42','2024-11-11 22:14:42',NULL,'user3@email.com','c2cb1bed1b206e15.dab487354d5fab0233c5c1d7ee02fd5d42d74e50cc500c4aa980750796e69736','user user3',NULL,NULL,NULL,NULL,NULL,NULL);


CREATE TABLE IF NOT EXISTS "tool_tag" ("tool_id" varchar NOT NULL, "tag_id" varchar NOT NULL, CONSTRAINT "FK_c490ee537b61d484c3a3ff83509" FOREIGN KEY ("tool_id") REFERENCES "tool" ("id") ON DELETE CASCADE ON UPDATE CASCADE, CONSTRAINT "FK_19a8dd373b48ee0b0b4c2304920" FOREIGN KEY ("tag_id") REFERENCES "tag" ("id") ON DELETE CASCADE ON UPDATE CASCADE, PRIMARY KEY ("tool_id", "tag_id"));
INSERT INTO tool_tag VALUES('03b26647-be25-444e-9f3d-97e8e3a7e211','c6de0d52-c23a-4b50-9473-fa877809ee9f');
INSERT INTO tool_tag VALUES('399e553d-7e88-4e7d-ac74-314ea1d4e5ab','fb09bb72-4463-4c39-aced-d76d34697874');
INSERT INTO tool_tag VALUES('399e553d-7e88-4e7d-ac74-314ea1d4e5ab','cb20a6be-4e43-4d59-a6e9-b158b2c944fb');


CREATE TABLE IF NOT EXISTS "tool_tags" ("tool_id" varchar NOT NULL, "tag_id" varchar NOT NULL, CONSTRAINT "FK_60c5fb3912e3d8e7fae542c31ae" FOREIGN KEY ("tool_id") REFERENCES "tag" ("id") ON DELETE CASCADE ON UPDATE CASCADE, CONSTRAINT "FK_f90b9eaef64f328490e22bdbfe1" FOREIGN KEY ("tag_id") REFERENCES "tool" ("id") ON DELETE CASCADE ON UPDATE CASCADE, PRIMARY KEY ("tool_id", "tag_id"));
CREATE TABLE IF NOT EXISTS "tag" ("id" varchar PRIMARY KEY NOT NULL, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime DEFAULT (datetime('now')), "deletedAt" datetime, "name" varchar, "description" varchar, "excerpt" varchar, "deleted" boolean NOT NULL DEFAULT (0), "isCategory" boolean NOT NULL DEFAULT (0), "imageUrl" varchar);
INSERT INTO tag VALUES('c6de0d52-c23a-4b50-9473-fa877809ee9f','2024-03-19 00:11:25.000','2024-09-19 11:17:16.000',NULL,'Low-Code/No-Code',NULL,NULL,0,1,'https://i.ibb.co/1bZ7DP5/Icon1.png');
INSERT INTO tag VALUES('fb09bb72-4463-4c39-aced-d76d34697874','2024-03-19 00:11:41','2024-03-19 00:11:41',NULL,'Legal',NULL,NULL,0,0,NULL);
INSERT INTO tag VALUES('cb20a6be-4e43-4d59-a6e9-b158b2c944fb','2024-03-19 00:11:41','2024-03-19 00:11:41',NULL,'Education',NULL,NULL,0,0,NULL);

CREATE TABLE IF NOT EXISTS "tool" ("id" varchar PRIMARY KEY NOT NULL, "createdAt" datetime NOT NULL DEFAULT (datetime('now')), "updatedAt" datetime DEFAULT (datetime('now')), "deletedAt" datetime, "name" varchar, "description" varchar, "excerpt" varchar, "link" varchar, "url" varchar, "deleted" boolean NOT NULL DEFAULT (0), "uploaded" boolean NOT NULL DEFAULT (0), "status" varchar, "features" varchar, "stars" integer, "pricing" varchar);

INSERT INTO tool VALUES('399e553d-7e88-4e7d-ac74-314ea1d4e5ab','2024-03-19 00:11:42','2024-03-19 00:11:42',NULL,'Humata AI',NULL,'ChatGPT for your files.','https://www.futurepedia.io/tool/humata-ai','https://www.humata.ai/?via=futurepedia',0,0,NULL,NULL,NULL,NULL);
INSERT INTO tool VALUES('fbeb1b8f-915a-47f2-84f7-5af49069cf50','2024-03-19 00:12:00','2024-03-19 00:12:00',NULL,'Charlie Lounge',NULL,'Enhance productivity and creativity with AI chatbots and elite networking.','https://www.futurepedia.io/tool/charlie-lounge','https://charlielounge.com/?utm_source=futurepedia&utm_medium=marketplace&utm_campaign=futurepedia',0,0,NULL,NULL,NULL,NULL);









CREATE TABLE IF NOT EXISTS "user_web" ("id" varchar PRIMARY KEY NOT NULL, "favorites" varchar NOT NULL, "visitedTools" varchar);
CREATE TABLE IF NOT EXISTS "database_web_user" ("id" varchar PRIMARY KEY NOT NULL, "favorites" varchar NOT NULL, "visitedTools" varchar);
CREATE TABLE IF NOT EXISTS "web_user" ("id" varchar PRIMARY KEY NOT NULL, "favorites" varchar NOT NULL, "visitedTools" varchar);
CREATE TABLE IF NOT EXISTS "userweb" ("id" varchar PRIMARY KEY NOT NULL, "favorites" varchar NOT NULL, "visited_tools" varchar, "email" varchar, "name" varchar, "suggestions" varchar);
INSERT INTO userweb VALUES('2bbb62f7-cf81-406e-92b7-d6aebe12b156','[]','[{"id":"Piggy","visited":3},{"id":"Namelix","visited":2},{"id":"Bubble","visited":1},{"id":"One AI","visited":1},{"id":"Chaindesk","visited":2}]','user22@email.com','user user16',NULL);
INSERT INTO userweb VALUES('8f02707d-7edb-41f9-bdd3-93b93630a2c3','[]','[]','user23@email.com','user user16',NULL);
INSERT INTO userweb VALUES('45464bf5-ce1a-473f-af53-8b265f93871a','[]','[{"id":"Piggy","visited":5},{"id":"Namelix","visited":3}]','user24@email.com','user user16',replace('[\n  "CustomGPT.ai",\n  "Chatnode"\n]','\n',char(10)));
CREATE INDEX "IDX_c490ee537b61d484c3a3ff8350" ON "tool_tag" ("tool_id") ;
CREATE INDEX "IDX_19a8dd373b48ee0b0b4c230492" ON "tool_tag" ("tag_id") ;
CREATE INDEX "IDX_60c5fb3912e3d8e7fae542c31a" ON "tool_tags" ("tool_id") ;
CREATE INDEX "IDX_f90b9eaef64f328490e22bdbfe" ON "tool_tags" ("tag_id") ;
COMMIT;
